<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
 
<div class="container text-center" >
   <img src="https://www.bobres.com/iptv_update/images/logo_dark_up.png" class="logo-dark" alt="logo">

   <div class="jumbotron">
    <h1 class="display-4">Hey dear customer, thank you for choosing us</h1>
    <p class="lead">We are very happy to make you our client starting from now ! <b>The service is now activated successfully</b></p> 
  </div>

 
 
  <h3>M3u Link & EPG Link</h3>
  <br>
   <table class="table table-dark">
 
    <tr>
      <th scope="col">Order number</th>
      <th scope="col"><h2><span class="badge badge-primary">OR-5412 </span></h2></th> 
    </tr>

    <tr>
        <th scope="col">M3U LINK</th>
        <th scope="col"><h2><span class="badge badge-primary">http://line.cdn-ott.net/get.php?username=EIIVLMZGQB&password=6LSVLSOSRH&output=ts&type=m3u_plus</span></h2> </th> 
      </tr>

      <tr>
        <th scope="col">EPG LINK</th>
        <th scope="col"><h2><span class="badge badge-primary">http://line.myott.net/xmltv.php?username= EIIVLMZGQB &amp;password= 6LSVLSOSRH</span></h2></th> 
      </tr>
 
 
  </table>
  
 <br>
 <hr>
 <br>

 
 <h3>Xtream Code Api</h3>

 <br>
  <table class="table table-dark">
 
   <tr>
     <th scope="col">Name</th>
     <th scope="col"><h2><span class="badge badge-primary">Bobres</span></h2>  </th> 
   </tr>

   <tr>
    <th scope="col">Username</th>
    <th scope="col"><h2><span class="badge badge-primary">EIIVLMZGQB</span></h2> </th> 
  </tr>

  <tr>
    <th scope="col">Password</th>
    <th scope="col"><h2><span class="badge badge-primary">6LSVLSOSRH</span></h2> </th> 
  </tr>

  <tr>
    <th scope="col">Url</th>
    <th scope="col"><h2><span class="badge badge-primary">http://line.cdn-ott.net:80</span></h2> </th> 
  </tr>
 

 </table>


 <br>
 <br>

 
 <div class="jumbotron">
    <h2 class="display-6">Hey dear customer, thank you for choosing us</h2>
    <p class="lead"> We always strive for perfection and your satisfaction, tell us if you need any support</p> 
  </div>

</div>


</body>
</html>